fastapi
uvicorn
discord.py
wavelink
asyncpg
aiomysql
sqlalchemy
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
multipart
httpx
psutil

yt-dlp

# Voice module dependencies
vosk
discord-ext-voice-recv
PyNaCl
